* {
    margin: 0;
    padding: 0;
}

:root {
    --board-color: black;
    --cell-size: 100px;
    --cell-color: white;
    --mark-size: calc(var(--cell-size) * 0.9);
    --gap-size: 8px;
}

body {
    margin: 0;
    padding: 0;
}

.display {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(var(--cell-size) * 3 + var(--gap-size) * 2);
    height: calc(var(--cell-size) * 3 + var(--gap-size) * 2);
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    background-color: var(--board-color);
    gap: var(--gap-size); 
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--cell-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: #cfcfcf;
}

/* X shape */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    width: calc(var(--mark-size) * 0.2);
    height: var(--mark-size);
    position: absolute;
}

.cell.x::before,
.board.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after  {
    transform: rotate(-45deg);
}

/* circle shape */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * 0.6);
    height: calc(var(--mark-size) * 0.6);
    background-color: white;
}

/* display winner screen */
.display-winner.show {
    display: flex;
}

.display-winner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000e7;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
}

.display-winner button {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.8rem;
}
.display-winner button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

[data-winner-text] {
    text-align: center;
}