* {
    margin: 0;
    padding: 0;
}

:root {
    --board-color: black;
    --cell-size: 100px;
    --cell-color: white;
    --marker-size: calc(var(--cell-size) * 0.9);
}

body {
    margin: 0;
    padding: 0;
}

.display {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(var(--cell-size) * 3);
    height: calc(var(--cell-size) * 3);
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    background-color: var(--board-color);
    gap: 8px; 
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--cell-color);
    display: flex;
    justify-items: center;
    align-items: center;


}

/* X shape */
.cell.x::before,
.cell.x::after {
    content: '';
    width: var(--marker-size);
    height: var(--marker-size);
    background-color: black;
}